
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans+Condensed:wght@300&family=Parisienne&display=swap');

/* Importing all components file */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");

body {
	margin: 0px;
}

p {
	color: black;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: bold;
font-size: 25px;
}